.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: rgba(0,0,0,0.1);

  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  padding: 24px 12px;

  border-radius: 4px;
  gap:24px;
}

.subtitle .subtitle-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.subtitle .subtitle-item h4 {
  text-align: center;
}

.subtitle .subtitle-item .subtitle-images {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
}

.subtitle .subtitle-item .subtitle-images .subtitle-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle .subtitle-item .subtitle-images img {
  width: 60px;
}

@media (min-width: 1120px) {
  .subtitle {
    flex-direction: row;
  }

  .subtitle .subtitle-image {
    flex-direction: column;
  }

  .subtitle .subtitle-item .subtitle-images img {
    width: 40px;
  }
}


@media (min-width: 1380px) {
  .subtitle {
    flex-direction: row;
  }

  .subtitle .subtitle-item .subtitle-images img {
    width: 100px;
  }
}
