.form-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  max-width: 80%;
  width: 100%;

  padding: 24px;
  margin: 0 auto;

  border: 4px solid var(--light-text-grey);
  border-radius: 18px;
}

.form-group .form-icon{
  font-size: 14px;
  color: var(--light-grey);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.form-group .form-icon img {
  height: 30px;
}

.form-group h3 {
  font-size: 24px;
  color: var(--medium-text-grey);
  font-weight: 300;
  margin-top: 32px;
  margin-bottom: 8px;
}

.form-group .radio-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--light-text-grey);
  padding: 8px 4px;

  position: relative;
  color: var(--medium-text-grey);
}

.form-group .radio-wrapper span{
  position: absolute;
  right: 0px;
  margin-bottom: 32px;
}

.form-group .radio-check-box {
  margin: 32px 0;
  color: var(--light-grey);
  position: relative;
  width: 100%;
}

.form-group .radio-check-box span {
  position: absolute;
  right: 0;
}

.form-group .btn-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-group .btn-wrapper .btn {
  font-size: 18px;
  border-radius: 4px;
  color: var(--dark-grey);
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px;
  width: 25%;
  border: none;
  cursor: pointer;
}

.form-group .btn-wrapper .btn-primary{
  background-color: var(--yellow);
}

.form-group .btn-wrapper .btn-secondary{
  background-color: transparent;
  border: 2px solid var(--light-text-grey);
}
